<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.AlarmInfoMapper">

	<!-- 批量新增提醒 -->
	<insert id="batchSaveAlarmInfo" parameterType="java.util.List">
		INSERT INTO `tbl_alarm_info` (`alarmId`,`sourceId`, `alarmName`, `server`,`takePic1`,`alarmTime`) 
		VALUES 
		<foreach collection="list" item="item" separator=",">
      		(#{item.alarmId},#{item.sourceId},#{item.alarmName},#{item.server},#{item.takePic1},#{item.alarmTime})
      	</foreach>
	</insert>
	
	<!-- 更新 -->
	<update id="dealAlarmById">
        update tbl_alarm_info
        set isDelete = 1
        where id = #{id}
	</update>
	<!-- 批量删除 -->
	<delete id="batchAlarms">
		delete from tbl_alarm_info
		where id in
		<foreach collection="idList"  item="item" open="(" separator="," close=")"  >
           #{item}
     	</foreach>
	</delete>
	
	<select id="getWarnList" resultType="com.hs.model.TblAlarmInfo">
		select id,alarmId,alarmName,server,alarmTime,isDelete,takePic1
		from tbl_alarm_info
		where isDelete = 0
		<if test="alarmList != null and alarmList.size() >0 ">
		and alarmName in
			<foreach collection="alarmList" item="item" separator="," open="(" close=")" >
      			(#{item})
      		</foreach>
		</if>
	</select>
	
	<select id="getAllWarnList" resultType="com.hs.model.AlarmExcelModel">
		select alarmName,server,alarmTime,takePic1
		from tbl_alarm_info
		where isDelete = 0
		<if test="alarmList != null and alarmList.size() >0 ">
			and alarmName in
			<foreach collection="alarmList" item="item" separator="," open="(" close=")" >
      			(#{item})
      		</foreach>
		</if>
		and date_sub(curdate(), interval 7 day) <![CDATA[<=]]> DATE_FORMAT(alarmTime, "%Y-%m-%d")
	</select>
	
	
	<select id="getAlarmList" resultType="com.hs.model.TblAlarmInfo">
		select alarmId,alarmName,server
		from tbl_alarm_info
		where isDelete = 0
		group by alarmId
	</select>
	
	<select id="getEchartsByAid" resultType="com.hs.model.TotalInfo">
		<![CDATA[
		 
			SELECT
				count(1) count,
				DATE_FORMAT(alarmTime, "%Y-%m-%d") time
			FROM
				`tbl_alarm_info`
			where alarmId = #{alarmId}
			and date_sub(curdate(), interval 7 day) <= DATE_FORMAT(alarmTime, "%Y-%m-%d")
			GROUP BY
				DATE_FORMAT(alarmTime, "%Y-%m-%d")
		]]>
	</select>
	
	<select id="getTotalChart" resultType="com.hs.model.TotalCalcInfo">
		SELECT
			count(1) count,
			alarmId
		FROM
			`tbl_alarm_info`
		where alarmId in 
		<foreach collection="alarmIdList"  item="item" open="(" separator="," close=")"  >
          	#{item}
    	</foreach>
		and date_sub(curdate(), interval 7 day) <![CDATA[<=]]> DATE_FORMAT(alarmTime, "%Y-%m-%d")
		GROUP BY alarmId
	</select>
	
	<select id="getAlarmType" resultType="com.hs.model.AlarmType">
		select id,alarmNameEn,alarmName
		from tbl_alarm_type
		where alarmNameEn = #{alarmNameEn} limit 1
	</select>
	<!-- 保存报警类型 -->
	<insert id="saveAlarmType" parameterType="com.hs.model.AlarmType" useGeneratedKeys="true" keyProperty="id">
		insert into tbl_alarm_type(alarmNameEn,alarmName)
		values (#{alarmNameEn},#{alarmName})   
	</insert>
	
	<!-- 删除当天的报警日志 -->
	<delete id="dealAlarmsByDate">
		delete from tbl_alarm_info where DATE_FORMAT(alarmTime, "%Y-%m-%d") = #{date}
	</delete>
	
	
	<!-- 删除当天异常日志记录 -->
	<delete id="deleteErrorLog">
		delete from tbl_task_errorlog where DATE_FORMAT(updateTime, "%Y-%m-%d") = #{date}
	</delete>
	
	<!-- 插入异常日志 -->
	<insert id="saveErrorLog" parameterType="com.hs.model.TaskErrorLog">
		INSERT INTO `tbl_task_errorlog` (`info`,`updateTime`) 
		VALUES (#{info}, #{updateTime})
	</insert>
	
	<!-- 获取今天的定时任务是否有异常 -->
	<select id="getErrorLog" resultType="String">
		select info
		from tbl_task_errorlog
		where DATE_FORMAT(updateTime, "%Y-%m-%d") = #{date} limit 1
	</select>
	
</mapper>