<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.UserMapper">
	<select id="getUserList" resultType="com.hs.model.User">
		select 	id,
				userName,
				case when userType=0 then "超级管理员"  else "管理员" end userTypeStr,
				DATE_FORMAT(createTime,"%Y-%m-%d %H:%i:%s") createTime,
			  DATE_FORMAT(lastLoginTime,"%Y-%m-%d %H:%i:%s") lastLoginTime
		from tbl_user
		order by userType,createTime desc
	</select>

</mapper>