@charset "UTF-8";

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'lcdd';
	src: url('./LcdD.TTF');
}

@font-face {
	font-family: 'leslie';
	src: url('./LESLIE.TTF');
}

.container {
	background: #061033;
	padding: 40px 0;
	float: left;
	width: 100%;
	height: 100%;
	overflow: auto;
	min-width: 1200px;
	min-height: 800px;
}

.container .con-left {
	float: left;
	width: 28%;
	height: 100%;
	border-right: 1px solid #0695EB;
	padding: 1.5%;
	box-sizing: border-box;
	text-align: center;
	position: relative;
}

.container .con-center {
	float: left;
	width: calc(44% - 2px);
	height: 100%;
	padding: 30px;
	position: relative;
}

.container .con-right {
	float: left;
	width: 28%;
	height: 100%;
	border-left: 1px solid #0695EB;
	padding: 1.5%;
}

.logo-item {
	float: left;
	width: 100%;
	height: 54px;
	position: relative;
}

.logo-item::before {
	position: absolute;
	content: "";
	left: 0;
	border-top: 2px solid #0695eb;
	width: calc(50% - 210px);
	top: 1px;
}

.logo-item::after {
	position: absolute;
	content: "";
	right: 0;
	border-top: 2px solid #0695eb;
	width: calc(50% - 210px);
	top: 1px;
}

.logo-title::before {
	position: absolute;
	content: "";
	width: 51px;
	height: 54px;
	left: -51px;
	background: url("../img/bg_left_01.png") no-repeat;
	background-position: 0 0;
}

.logo-title::after {
	position: absolute;
	content: "";
	width: 51px;
	height: 54px;
	right: -51px;
	background: url(../img/bg_right_01.png) no-repeat;
	background-position: 0 0;
}

.logo-title {
	float: left;
	width: 320px;
	text-align: center;
	color: #fff;
	font-size: 1.8rem;
	line-height: 54px;
	height: 54px;
	position: absolute;
	top: 50%;
	margin-top: -27px;
	left: 50%;
	margin-left: -160px;
	border-bottom: 2px solid #0679C4;
}

.img-center {
	border: 1px solid #0679C4;
	padding: 10px;
	position: absolute;
	top: 120px;
	bottom: 240px;
	left: 24px;
	right: 24px;
}

.upload-file {
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
.total-bottom {
	padding: 10px;
	position: absolute;
	height: 180px;
	left: 30px;
	right: 30px;
	bottom: 20px;
	background: #071D46;
}

.img-center img {
	width: 100%;
	height: 100%;
}

.time-content {
	height: 120px;
	background: #071D46;
	position: absolute;
	left: 30px;
	right: 30px;
	display: flex;
	align-items: center;
	text-align: center;
}

.time-body {
	width: 100%;
}

.time-content span {
	width: 100%;
	float: left;
	padding: 0;
}

.time-content span.s-time {
	color: #fff;
	font-size: 42px;
	font-weight: 600;
	padding: 0 0 5px 0;
	font-family: 'leslie';
}

.time-content span.s-date {
	color: #078BDD;
	font-size: 16px;
	font-weight: 600;
}

i.ibg {
	position: absolute;
	width: 35px;
	height: 31px;
	background: url("../img/home_bg01.png") no-repeat;
}

i.ibg.bg-lt {
	top: -6px;
	left: -6px;
	background-position: 0 0px;
}

i.ibg.bg-rt {
	top: -6px;
	right: -6px;
	background-position: 0 -31px;
}

i.ibg.bg-lb {
	bottom: -6px;
	left: -6px;
	background-position: 0 -62px;
}

i.ibg.bg-rb {
	bottom: -6px;
	right: -6px;
	background-position: 0 -93px;
}

.chart-container {
	position: absolute;
	top: 160px;
	left: 30px;
	right: 30px;
	bottom: 0;
	padding: 20px 0;
}

.chart-item {
	float: left;
	width: 100%;
	height: 50%;
}

.chart-01 {
	float: left;
	width: 100%;
	height: 60%;
}

.chart-title {
	background: #082A58;
	float: left;
	width: calc(100% - 30px);
	height: 50px;
	text-align: left;
	color: #BEDAEA;
	position: relative;
	border: 1px solid #093A6E;
}

.chart-title div.topical {
	position: absolute;
	left: 0;
	width: calc(100% - 80px);
	top: 50%;
	font-size: 0.9rem;
	height: 30px;
	line-height: 30px;
	margin-top: -15px;
	padding-left: 30px;
}

.chart-title div.typeof {
	position: absolute;
	right: 0;
	width: 80px;
	top: 0;
	height: 100%;
	padding-left: 15px;
}

.chart-title div.typeof::before {
	content: "";
	position: absolute;
	background: #067AC6;
	width: 1px;
	top: 25%;
	bottom: 25%;
	left: 0;
}

.chart-title:before {
	position: absolute;
	right: -36px;
	content: "";
	top: 0;
	width: 30px;
	height: 100%;
	background: #0695EB;
}

.chart-title:after {
	position: absolute;
	right: -36px;
	content: "";
	bottom: 0;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 15px solid #061033;
}

.chart-body {
	float: left;
	width: 100%;
	height: calc(100% - 50px);
	position: relative;
}

.icon-switch {
	position: absolute;
	right: 0;
	top: 15px;
	width: 20px;
	height: 20px;
	background: url(../img/icon_switch.png) no-repeat;
	cursor: pointer;
	z-index: 9;
}

.chart-content-body .icon-switch {
	right: 5px;
	top: 10px;
}

#complexChart01 {
	height: 40%;
	padding: 10px 0;
}

#complexChart02 {
	height: 60%;
	padding: 10px 0;
}

span.icon-tubiao {
	position: absolute;
	height: 30px;
	line-height: 30px;
	top: 50%;
	margin-top: -15px;
	font-size: 0.9rem;
}

.chart-01 .chart-body {
	float: left;
	width: 100%;
	height: 85%;
	padding: 10px;
}

.chart-content {
	float: left;
	width: 100%;
	height: 100%;
}

.chart-02 {
	float: left;
	width: 100%;
	background: #071D46;
	position: relative;
	height: 40%;
}

.chart-03 {
	float: left;
	height: 35%;
	width: 100%;
	background: #071D46;
	position: relative;
}

.chart-04 {
	float: left;
	height: 65%;
	width: 100%;
	/* background: #071D46; */
	position: relative;
	margin: 20px 0;
}

.total-ul {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	height: 100%;
}

.chart-content-body {
	float: left;
	width: 100%;
	height: 100%;
}

.total-ul li {
	float: left;
	display: flex;
	align-items: center;
	text-align: center;
	width: 25%;
	height: 100%;
}

.total-ul li div {
	float: left;
	width: 100%;
}

.total-ul li span.total-num-span {
	font-size: 48px;
	color: #fff;
	padding-bottom: 10px;
	font-family: 'leslie';
}

.total-ul li span {
	width: 100%;
	display: block;
	float: left;
	color: #0795EB;
	font-size: 22px;
}

.select-content {
	position: fixed !important;
	width: 180px;
	min-height: 160px;
	background-color: #fff;
	border: 1px solid #ddd;
	position: relative;
}

.select-content::before {
	position: absolute;
	top: -7px;
	right: 4px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	content: "";
}

.select-content .select-title {
	float: left;
	width: 100%;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background: #eaeaea;
}

.select-content ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 10px;
	max-height: 279px;
	overflow-y: scroll;
}

.select-content ul li {
	float: left;
	width: 100%;
	color: #666;
	line-height: 35px;
	height: 35px;
	font-size: 14px;
	list-style: none;
	padding: 0 10px;
	border-bottom: 1px dashed #ddd;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.select-content ul li:hover {
	color: #0695EB;
}

.select-content ul li:last-child {
	border-bottom: 0px;
}
.select-content ul li.active {
	color: #0695EB;
}
.chart-title-text {
    position: absolute;
    color: #fff;
    font-size: 12px;
    top: 10px;
    right: 30px;
}
.chart-04 .chart-title-text {
	top: 14px;
}
#safeChartBody .chart-title-text {
	top: 14px;
}
.total-chart-content {
	float: left;
	height: 100%;
	width: 100%;
}
.select-body {
    float: left;
    width: 120px;
    position: absolute;
    z-index: 9;
}
.select-body.hide {
	display: none;
}
.select-body .layui-input, .layui-select, .layui-textarea {
    background: transparent;
    color: #fff;
    height: 25px;
}
::-webkit-scrollbar-track-piece {
	background-color: #f8f8f8;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-thumb {
	background-color: #dddddd;
	background-clip: padding-box;
	min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #bbb;
}

@media ( min-width : 3840px) {
	.time-content {
		height: 15%;
	}
	.chart-container {
		top: 19%;
	}
	.time-content span.s-time {
		font-size: 6rem;
	}
	.time-content span.s-date {
		font-size: 2.6rem;
	}
	.chart-title {
		height: 70px;
	}
	.chart-title div.topical {
		font-size: 1.7rem;
	}
	span.icon-tubiao {
		font-size: 1.7rem;
	}
	.chart-01 {
		height: 55%;
	}
	.chart-02 {
		height: 45%;
	}
	.chart-01 .chart-body {
		padding: 30px;
	}
	.chart-content-body .chart-content {
		padding: 30px;
	}
	.total-bottom {
		height: 20%;
	}
	.img-center {
		top: 18%;
		bottom: 24%;
	}
	.total-ul li span.total-num-span {
		font-size: 7rem;
	}
	.total-ul li span {
		font-size: 3rem;
	}
	.logo-item {
		height: 15%;
	}
	.logo-item::after {
		width: calc(20% - 28px);
		top: 116px;
	}
	.logo-item::before {
		width: calc(20% - 28px);
		top: 116px;
	}
	.logo-item {
		float: left;
		width: 100%;
		height: 15%;
		position: relative;
		display: flex;
		align-items: center;
		text-align: center;
	}
	.logo-title {
		font-size: 5rem;
		width: 50%;
		margin-left: -25%;
		height: 100px;
	}
	.logo-title::before {
		background: url(../img/bg_center_left.png) no-repeat;
		width: 109px;
		left: -109px;
		height: 109px;
		bottom: -7px;
	}
	.logo-title::after {
		background: url(../img/bg_center_right.png) no-repeat;
		width: 109px;
		right: -109px;
		height: 109px;
		bottom: -7px;
	}
	i.ibg {
		width: 77px;
		height: 65px;
	}
	i.ibg.bg-lt {
		top: -12px;
		left: -12px;
		background-position: 0 0px;
		background: url(../img/bg_left_top.png) no-repeat;
	}
	i.ibg.bg-rt {
		top: -12px;
		right: -12px;
		background-position: 0 0px;
		background: url(../img/bg_right_top.png) no-repeat;
	}
	i.ibg.bg-lb {
		bottom: -12px;
		left: -12px;
		background-position: 0 0px;
		background: url(../img/bg_left_bottom.png) no-repeat;
	}
	i.ibg.bg-rb {
		bottom: -12px;
		right: -12px;
		background-position: 0 0px;
		background: url(../img/bg_right_bottom.png) no-repeat;
	}
	.chart-04 {
		margin: 40px 0;
	}
}