@charset "UTF-8";

html, body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: border-box;
}

.layui-layout-admin .layui-logo {
	color: #fff;
	/* text-align: center; */
	/* padding-left: 30px; */
	background-color: #002140;
	width: 260px;
	display: flex;
	align-items: center;
}

.layui-logo img {
	margin-left: 14px;
}

.layui-layout-admin .layui-header {
	background-color: #fff;
}

.layui-bg-black {
	background-color: #001529 !important;
}

.layui-head-title {
	position: absolute;
	left: 260px;
	right: 0;
	height: 60px;
	color: #333;
	box-shadow: 20px 20px 30px #eaeaea;
}

.layui-layout-admin .layui-side {
	width: 260px;
}

.layui-nav .layui-nav-item {
	color: #333;
}

.layui-head-title .layui-nav .layui-nav-item a {
	color: #333;
}

.layui-side-scroll {
	width: 260px;
}

.layui-nav-tree {
	width: 260px;
}

.a-item-next {
	
}
/**左侧菜单开始*/
.define-nav .layui-nav-item {
	background-color: #001529;
}

.define-nav .layui-nav-itemed>.layui-nav-child {
	display: block;
	padding: 0;
	background-color: rgba(0, 0, 0, .3) !important;
	background-color: #000C17;
}

.define-nav .layui-nav-tree .layui-nav-item a {
	height: 50px;
	line-height: 50px;
	padding-left: 50px;
}

.define-nav .layui-nav-tree .layui-nav-item a.active {
	background-color: #1890FF;
}

.define-nav .layui-nav-tree .layui-nav-bar {
	background-color: #000;
	width: 0;
}

.define-nav .layui-nav-tree .layui-nav-item a:hover {
	background-color: #1890FF;
}

.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a,
	.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a,
	.layui-nav-tree .layui-this>a:hover {
	background-color: #1890FF;
}

.layui-nav-tree .layui-nav-child a {
	padding-left: 50px;
}

.nai-item:before {
	content: "";
	left: 18px;
	top: 11px;
	width: 24px;
	background: url(../img/back_01.png) no-repeat;
	height: 24px;
	position: absolute;
}

.nai-item.icon-view:before {
	background-position: 0 -127px;
}

.nai-item.icon-auth:before {
	background-position: 0 -56px;
}

.nai-item.icon-address:before {
	background-position: 0 -101px;
}

.nai-item.icon-warn:before {
	background-position: 0 -1px;
}

.item-icon-search {
	display: inline-block;
	width: 24px;
	height: 30px;
	background: url(../img/back_01.png) no-repeat;
	background-position: 0 0;
	vertical-align: middle;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after
	{
	height: 2px;
}
/**左侧菜单结束*/
/**页面内容开始*/
.layui-layout-admin .layui-body {
	left: 260px;
	background: #F0F2F5;
	bottom: 0;
	padding: 30px 40px;
}
/*小导航开始*/
.define-nav {
	float: left;
	width: 100%;
	line-height: 30px;
}

.content-body {
	float: left;
	width: 100%;
}

.content-bar {
	float: left;
	width: 100%;
	height: 40px;
	border: 1px solid red;
}

.content-container {
	float: left;
	width: 100%;
}

.layui-breadcrumb>* {
	font-size: 16px;
	position: relative;
}

.define-nav .layui-breadcrumb a:first-child:before {
	content: "";
	left: -15px;
	width: 4px;
	height: 20px;
	background: #1890FF;
	top: 0;
	position: absolute;
	border-radius: 10px;
}

.define-nav .layui-breadcrumb a {
	color: #666 !important;
}
/*小导航结束*/

/*页面主题内容开始*/
.content-body {
	float: left;
	width: 100%;
	min-height: calc(100% - 35px);
	background: #fff;
	padding: 20px;
}

.content-body-header {
	float: left;
	width: 100%;
}

.content-body-header span.title {
	font-size: 15px;
	color: #333;
}

.content-body-detail {
	float: left;
	width: 100%;
}
/*页面主题内容结束*/

/**页面内容结束*/

/***layui table 分页样式复写start**/
.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #1890FF;
}

.layui-form-checked[lay-skin=primary] i {
	border-color: #1890FF !important;
	background-color: #1890FF;
	color: #fff;
}

.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click,
	.layui-table-header, .layui-table-hover, .layui-table-mend,
	.layui-table-patch, .layui-table-tool, .layui-table-total,
	.layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {
	background-color: #EEF0F4;
}

.layui-table td, .layui-table th, .layui-table-col-set,
	.layui-table-fixed-r, .layui-table-grid-down, .layui-table-header,
	.layui-table-page, .layui-table-tips-main, .layui-table-tool,
	.layui-table-total, .layui-table-view, .layui-table[lay-skin=line],
	.layui-table[lay-skin=row] {
	border: 0px;
}

.layui-table-view .layui-table td {
	border-bottom: 1px dashed #ddd;
}

.layui-table-view .layui-table td, .layui-table-view .layui-table th {
	padding: 10px 0;
}

.layui-table-page {
	padding: 20px 0;
	height: auto;
	text-align: right;
}

.layui-table-tool {
	background: transparent;
}

.layui-btn {
	background: #1890FF;
}

.table-btn {
	padding: 2px 10px 2px 4px;
	height: auto;
}
/***layui table 分页样式复写end**/

/***新增用户模态框start**/
.modal-container {
	float: left;
	width: 100%;
}

.layui-layer-page .layui-layer-content {
	padding: 30px 50px 0 0px;
	display: flex;
	align-items: center;
}

.modal-container .layui-layer-title {
	border-bottom: 1px solid #F2F4FA;
	background-color: #F2F4FA;
}

.layui-layer-btn {
	text-align: center;
}

.layui-layer-btn a {
	height: 34px;
	line-height: 34px;
	padding: 0 20px;
}

.layui-form-item {
	margin-bottom: 20px;
}
/***新增用户模态框end**/