@charset "UTF-8";
body {
	font-size: 14px;
	margin: 0px;
}

.page-container {
		float: left;
	width: 100%;
}
.content-header {
	float: left;
	width: 100%;
	height: 60px;
}

.content-center {
	float: left;
	width: 100%;
}