<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.mapper.TemplateMapper">

	<!-- 新增模板 -->
	<insert id="saveTemplate" parameterType="com.hs.model.TemplateModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tbl_template` (`templateName`, `href`,`imgUrl`,`alarmId`, `createTime`, `createUser`,`userId`, `pid`, `status`) 
		VALUES (#{templateName}, #{href},#{imgUrl} , #{alarmId}, now(), #{createUser}, #{userId}, 0, #{status})
	</insert>
	
	<!-- 批量新增模板 -->
	<insert id="saveTemplateList" parameterType="com.hs.model.TemplateModel" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `tbl_template` (`templateName`, `href`,`imgUrl`,`alarmId`,`createTime`, `createUser`,`userId` , `pid`, `status`) 
		VALUES
		<foreach collection="list" item="item" separator=",">
      		(#{item.templateName}, #{item.href}, #{item.imgUrl}, #{item.alarmId}, now(), #{item.createUser}, #{item.userId}, #{item.pid}, #{item.status})
        </foreach>
	</insert>
	
	<!-- 获取当前用户模板 -->
	<select id="getTemplateList" resultType="com.hs.model.TemplateModel">
		select `id`,`templateName`, `href`, `alarmId`,`createTime`, `createUser`, `userId`,`pid`, `status`
			from `tbl_template`
			where `userId` = #{userId} and `status` = 0
	</select>
	
	<select id="getTemplateById" resultType="com.hs.model.TemplateModel">
		select `id`,`templateName`, `href`,`imgUrl` , `alarmId`,`createTime`, `createUser`, `userId`,`pid`, `status`
			from `tbl_template`
			where `id` = #{id} and `status` = 0
	</select>
	
	<update id="deleteTemplate" >
		update `tbl_template` set `status` = 1 where id = #{id} or pid = #{id}
	</update>
	
	<update id="updateTemplate" parameterType="com.hs.model.TemplateModel">
        update tbl_template
         <set>
            <if test="alarmId != null">alarmId = #{alarmId},</if>
            <if test="templateName != null">templateName = #{templateName},</if>
            <if test="imgUrl != null">imgUrl = #{imgUrl},</if>
        </set>
        where id = #{id}
	</update>
	
	<update id="updateChildTemplate">
        update tbl_template
        set alarmId = #{alarmId}
        where pid = #{pid} and href = #{href}
	</update>
	
</mapper>