@charset "UTF-8";

html, body {
	height: 100%
}

body {
	font-size: 14px;
	min-width: 1200px;
	min-height: 900px;
}

.bg-img {
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;
	height: calc(100% - 200px);
}

.logo {
    width: 160px;
    height: 50px;
}

.layui-container {
	position: relative;
	height: 100%;
}

.bg-center {
	content: "";
	left: 0;
	right: 0;
	background: url(../img/login_bg.png);
	top: 60px;
	bottom: 140px;
	position: fixed;
}

.content-header {
	float: left;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
}

.content-center {
	float: left;
	width: 100%;
	min-height: 60%;
	position: absolute;
	top: 90px;
	bottom: 170px;
	border: 1px solid #2E4779;
	box-shadow: 2px 2px 10px #2E4779 inset;
	display: flex;
	align-items: center;
}

.content-img {
	
}

.content-img img {
	width: 100%;
	height: 100%;
}

.content-bottom {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #666;
	left: 0;
	right: 0;
	height: 140px;
	line-height: 140px;
}

.content-concern-left {
	position: absolute;
	left: -15px;
	bottom: -15px;
	height: 60px;
	width: 60px;
	border-left: 1px solid #2E4779;
	border-bottom: 1px solid #2E4779;
}

.content-concern-right {
	position: absolute;
	top: 15px;
	right: 15px;
	height: 60px;
	width: 60px;
	border-right: 1px solid #2E4779;
	border-top: 1px solid #2E4779;
}
/** 登录框*/
.layadmin-user-login-main {
	position: absolute;
	right: 60px;
	width: 24%;
	padding: 30px 40px;
	background: #fff;
}

.layadmin-user-login-header {
	text-align: center;
	padding: 10px 0 20px 0;
}

input {
	border: 0px;
}

.layadmin-user-login-main .layui-input {
	border-top: 0;
	border-bottom: 1px solid #CDCED5;
	border-left: 0;
	border-right: 0;
	width: calc(100% - 30px);
	padding-left: 10px;
	margin-left: 20px;
}

.layui-btn {
	background-color: #293769;
	height: 42px;
	margin-top: 8px;
}

.layadmin-user-login-icon {
	width: 10px;
	float: left;
	margin-top: 15px;
}

.layadmin-user-jump-change.layadmin-link {
	float: right;
}

.layui-form-item {
	margin-bottom: 20px;
}

#forgetPasswordModal {
	padding: 30px 90px 0 0px;
}