<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>可视化看板</title>
<link rel="stylesheet" th:href="@{/static/assets/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/static/css/dashboard.css}">
</head>
<body>
	<input id="dashboardType" type="hidden" th:value="${type}"/>
	<div class="container">
		<div class="con-left">
			<div class="time-content">
				<div class="time-body">
					<span class="s-time" id="nowTime"></span>
					<span class="s-date" id="nowDate"></span>
				</div>
				<i class="ibg bg-lt"></i>
				<i class="ibg bg-rt"></i>
				<i class="ibg bg-lb"></i>
				<i class="ibg bg-rb"></i>
			</div>
			<div class="chart-container">
				<div class="chart-item chart-01">
					<div class="chart-title">
						<div class="topical">未佩戴安全帽次数</div>
						<div class="typeof">
							<span class="icon-tubiao">图表</span>
						</div>
					</div>
					<div class="chart-body" id="safeChartBody">
						<div class="chart-title-text">单位：次数</div>
						<div class="select-body" th:classappend="${type eq 'edit'} ? '' : 'hide'">
							<form class="layui-form">
								<select class="alarm-select" lay-filter="alarm">
								</select>
							</form>
						</div>
						<div class="chart-content" id="safeChart"></div>
					</div>
				</div>
				<div class="chart-item chart-02">
					<i class="ibg bg-lt"></i>
					<i class="ibg bg-rt"></i>
					<i class="ibg bg-lb"></i>
					<i class="ibg bg-rb"></i>
					<div class="chart-content-body" id="illegalChartBody">
						<div class="select-body" th:classappend="${type eq 'edit'} ? '' : 'hide'">
							<form class="layui-form">
								<select class="alarm-select" lay-filter="alarm">
								</select>
							</form>
						</div>
						<div class="chart-title-text">单位：次数</div>
						<div class="chart-content" id="illegalChart"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="con-center">
			<div class="logo-item">
				<div class="logo-title">智慧工厂 AI管理平台</div>
			</div>
			<div class="img-center" id="uploadImg">
				<input type="file" class="upload-file" id="upload-file"/>
				<img th:src="@{/static/img/center_img.png}" id="imgCenter"/>
			</div>
			<div class="total-bottom">
				<i class="ibg bg-lt"></i>
				<i class="ibg bg-rt"></i>
				<i class="ibg bg-lb"></i>
				<i class="ibg bg-rb"></i>
				<ul class="total-ul">
					<li>
						<div>
							<span class="total-num-span">3080</span>
							<span>总次数</span>
						</div>
					</li>
					<li>
						<div>
							<span class="total-num-span">1052</span>
							<span>安全帽总数</span>
						</div>
					</li>
					<li>
						<div>
							<span class="total-num-span">258</span>
							<span>明火总数</span>
						</div>
					</li>
					<li>
						<div>
							<span class="total-num-span">1847</span>
							<span>行人闯入总数</span>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="con-right">
			<div class="chart-item chart-03">
				<i class="ibg bg-lt"></i>
				<i class="ibg bg-rt"></i>
				<i class="ibg bg-lb"></i>
				<i class="ibg bg-rb"></i>
				<div class="chart-content-body" id="dangerChartBody">
					<div class="select-body" th:classappend="${type eq 'edit'} ? '' : 'hide'">
						<form class="layui-form">
							<select class="alarm-select" lay-filter="alarm">
							</select>
						</form>
					</div>
					<div class="chart-title-text">单位：次数</div>
					<div class="chart-content" id="dangerChart"></div>
				</div>
				
			</div>
			<div class="chart-item chart-04">
				<div class="chart-title">
					<div class="topical">综合分析</div>
					<div class="typeof">
						<span class="icon-tubiao">图表</span>
					</div>
				</div>
				<div class="chart-body">
					<div class="select-body" th:classappend="${type eq 'edit'} ? '' : 'hide'">
						<form class="layui-form">
							<select class="alarm-select" lay-filter="alarm">
							</select>
						</form>
					</div>
					<div class="chart-title-text">单位：次数</div>
					<div class="total-chart-content">
						<div class="chart-content" id="complexChart01"></div>
						<div class="chart-content" id="complexChart02"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/static/assets/jquery/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/static/assets/layui/layui.js}"></script>
	<script th:src="@{/static/assets/echarts/echarts.min.js}"></script>
	<script th:src="@{/static/js/commonFunction.js}"></script>
	<script th:src="@{/static/js/safeChart.js}"></script>
	<script th:src="@{/static/js/illegalChart.js}"></script>
	<script th:src="@{/static/js/dangerChart.js}"></script>
	<script th:src="@{/static/js/totalChart.js}"></script>
	<script th:src="@{/static/js/dashboard.js}"></script>
	
</body>
</html>
