<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
	<head>
	<meta charset="UTF-8">
	<title>Head</title>
	<link rel="stylesheet" th:href="@{/static/assets/layui/css/layui.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/common.css}" />
	<link rel="stylesheet" th:href="@{/static/css/index.css}">
	</head>
	<div class="layui-header">
		<div class="layui-logo">
			<img alt="" th:src="@{/static/img/logo_02.png}">
		</div>
		<div class="layui-head-title">
			<ul class="layui-nav layui-layout-right">
				<li class="layui-nav-item">
					<img th:src="@{/static/img/boy.png}" class="layui-nav-img" /> 
					<span th:text="${session.domainName}"></span>
					<a class="icon-logoff" href="logoff" title="退出登录"></a>
				</li>
			</ul>
		</div>
	</div>

	<div class="layui-side layui-bg-black define-nav">
		<div class="layui-side-scroll">
			<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
			<ul class="layui-nav layui-nav-tree" lay-filter="test" id="myMenu">
				<li class="layui-nav-item layui-nav-itemed">
					<a class="nai-item icon-view" href="javascript:;">我的可视化</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="index" th:classappend="${currMenu eq 'index'} ? 'active' : ''">可视化定制</a>
						</dd>
						<dd>
							<a href="templateManage" th:classappend="${currMenu eq 'templateManage'} ? 'active' : ''">可视化管理</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item">
					<a class="nai-item icon-auth" href="authManage" th:classappend="${currMenu eq 'authManage'} ? 'active' : ''">权限管理</a>
				</li>
				<li class="layui-nav-item">
					<a class="nai-item icon-address" href="addressManage" th:classappend="${currMenu eq 'addressManage'} ? 'active' : ''">服务器管理</a>
				</li>
				<li class="layui-nav-item">
					<a class="nai-item icon-warn" href="warnManage" th:classappend="${currMenu eq 'warnManage'} ? 'active' : ''">报警管理</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>