<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign In</title>
<link rel="stylesheet" th:href="@{/static/assets/layui/css/layui.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/login.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div class="layui-container">
		<div class=" content-header">
			<img th:src="@{/static/img/logo.png}" class="logo" />
		</div>
		<div class="content-center">
			

		</div>
	</div>
</body>
</html>
